$primary-font: "Libre Baskerville", serif;
$secondary-font: "Montserrat", sans-serif;

$color-text: #000;
$color-btn-red: #c02525;
$color-background: #fbf9f5;
$color-primary: #b73225;
$color-text-dark: #111;
